@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
* {
  box-sizing: border-box;
  user-select: none;
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;
  background: rgb(18, 18, 18);
}

h1 {
  font-size: clamp(1rem, 5vw, 5rem);
  font-weight: 400;
  letter-spacing: 0.5em;
  color: #cccccc;
  max-width: 1200px;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
}

h2{
  font-family: "Cormorant Garamond", serif;
  text-transform: uppercase;
  color: #cccccc;
  letter-spacing: 0.25em;
  font-size: 1rem;
  margin: 0;
}

h3{
  font-family: "Cormorant Garamond", serif;
  color: #cccccc;
  margin: 0.5rem 0 2rem;
  font-size: 0.75rem;
}

.reseaux{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.instagram{
  width: 5vw;
  height: 5vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 35px;
  max-height: 35px;
  background: url(images/insta.svg)no-repeat;
  background-size: cover;
  background-position: center;
}
:hover.instagram{
  width: 5vw;
  height: 5vw;
  min-width: 20px;
  min-height: 20px;
  max-width: 35px;
  max-height: 35px;
  background: url(images/instagram_hover.svg)no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;
  z-index: 3;
  height: 7em;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(0.66rem, 2vw, 1rem);
  letter-spacing: 0.5em;
}
@media (max-width:449px){
  .screen{
    height: 100vh;
    overflow: hidden;
  }
  .instruction{
    visibility: hidden;
  }
  button{
    height: 25vh;
    background-position: center;
    margin-bottom: 0.15rem;
  }
}
@media (min-width:450px){
button {
  height: 100vh;
  background-position-x: center;
  }
}

button{
  flex-direction: column;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  border: none;
  cursor: pointer;
}

.f1{
  cursor:default;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(images/accueil.png);
}

.f2{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(images/interface.png);
}

.f3{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 90%), url(images/oeil_presentation.png);
}

.f4{
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.3) 100%), url(images/graphisme.png);
  margin-bottom: 0;
}


h1 * {
  will-change: transform;
}

footer{
  display: none;
  text-align: start;
  padding-left: 1rem;
}